* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

body, html {
    scroll-behavior: smooth
}

.top_bar {
    background-color: #121d61
}

.top_bar .fab:hover {
    transform: rotate(360deg)
}

.top_bar .top_l {
    height: 40px
}

.top_bar .top_l p {
    font-size: 13px
}

.my_navbar {
    box-shadow: 1px 1px 5px 1px grey
}

nav ul li {
    margin: 0 0!important
}

nav {
    padding: 0!important
}

.my_navbar ul li a {
    font-size: 20px;
    padding: 15px 10px!important
}

.my_navbar ul li a:hover {
    background-color: green;
    color: #fff!important
}

.navbar ul li a:hover {
    background-color: green
}

.my_navbar .active {
    background-color: green;
    color: #fff!important
}

/* 
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%
} */

.dropdown-submenu {
    position: relative
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em
}

.main_dropdown {
    width: 220px;
    height: 500px;
    overflow-y: auto
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem
}

.fas, .top_bar .fab {
    color: #fff;
    font-size: 13px;
    margin: 0 13px;
    transition: all .4s linear
}

.main_heading {
    margin-bottom: 5px
}

.main_heading .logo_side img {
    width: 140px;
    height: 130px
}

.main_heading .logo_heading a {
    text-decoration: none;
    color: #385573;
    font-size: 32px;
    font-weight: 700;
    word-spacing: 5px
}

.main_heading .map_side {
    display: grid;
    place-items: center
}

.main_heading .map_side a {
    text-decoration: none;
    color: #385580;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px
}

.main_heading .map_side a .fas {
    font-size: 38px;
    color: green
}

.main_heading .map_side a .fas:hover {
    font-size: 40px
}

.gallery_title h1, .my_intro h1 {
    font-size: 40px;
    font-weight: 1000;
    color: #121d61;
    word-break: break-all
}

.my_gallery figure {
    position: relative;
    overflow: hidden
}

.my_gallery figure img {
    transition: all .3s linear
}

.my_gallery figure:hover img {
    opacity: .8;
    transform: scale(1.2)
}

.my_gallery figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 0
}

.my_gallery figure figcaption h1 {
    font-size: 6vmin;
    font-weight: 700;
    margin-bottom: 30px;
    color: gold;
    z-index: 1
}

.my_gallery figure figcaption .fas {
    color: gold;
    font-size: 3vmin;
    padding: 15px;
    border: 2px dotted #fff;
    border-radius: 10px;
    z-index: 3
}

.gallery_title h1, .my_intro h1 {
    font-size: 10vmin
}

.my_gallery figure figcaption .fas:hover {
    border-radius: 50%
}

.my_gallery figure:hover figcaption {
    visibility: visible
}

.ex-principal figure img {
    width: 100%;
    height: 400px
}

.application {
    background-color: #929292
}

.application_H {
    background-color: #fff;
    border-radius: 5px
}

.application_H h1 {
    font-size: 10vmin;
    color: #121d61;
    font-weight: 800
}

.indicator {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border-radius: 5px
}

.indicator p {
    color: green;
    font-size: 20px;
    font-weight: 700
}

.indicator a {
    color: #121d61;
    text-decoration: none;
    font-weight: lighter
}

.admission_rule ul li ol {
    margin: 10px 0 10px 30px
}

.mb-0>a {
    display: block;
    position: relative
}

.mb-0>a:after {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 0
}

.mb-0>a[aria-expanded=true]:after {
    content: ''
}

.fa-chevron-circle-down {
    color: green;
    font-size: 20px
}

.faculty_cards .card-text a .fab {
    font-size: 30px;
    color: green;
    margin: 0 5px;
    transition: all .4s linear
}

.faculty_cards .card-text a .fab:hover {
    color: red;
    transform: translateY(-10px)
}

.faculty_cards .card {
    padding: 5px;
    background-color: #f4f4f4
}

.faculty_cards .card img {
    padding: 20px
}

.faculty_cards .card:hover {
    box-shadow: 2px 2px 5px grey;
    background-color: #fff
}

.faculty_cards p {
    font-size: 13px
}

.col_white_amrc {
    color: #fff
}

footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0 25px 0
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px
}

footer p {
    font-size: 13px;
    color: #ccc;
    padding-bottom: 0;
    margin-bottom: 8px
}

.mb10 {
    padding-bottom: 15px
}

.footer_ul_amrc {
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    padding: 0 0 10px 0
}

.footer_ul_amrc li {
    padding: 0 0 5px 0
}

.footer_ul_amrc li a {
    color: #ccc
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none
}

.fleft {
    float: left
}

.padding-right {
    padding-right: 10px
}

.footer_ul2_amrc {
    margin: 0;
    list-style-type: none;
    padding: 0
}

.footer_ul2_amrc li p {
    display: table
}

.footer_ul2_amrc li a:hover {
    text-decoration: none
}

.footer_ul2_amrc li i {
    margin-top: 5px
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto
}

.foote_bottom_ul_amrc li {
    display: inline
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left
}

.social_footer_ul li a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 50%
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center
}

.testimonial .card {
    box-shadow: 0 6px 8px 0 #bdbdbd
}

.testimonial .profile-pic {
    width: 100px!important;
    height: 100px;
    box-shadow: 0 4px 8px 0 #bdbdbd!important
}

.owl-carousel .owl-nav button.owl-prev, .testimonial .owl-carousel .owl-nav button.owl-next {
    background: 0 0;
    color: #1e88e5!important;
    border: none;
    padding: 5px 20px!important;
    font: inherit;
    font-size: 50px!important
}

.owl-carousel .owl-nav button.owl-prev:hover, .testimonial .owl-carousel .owl-nav button.owl-next:hover {
    color: #0d47a1!important;
    background-color: transparent!important
}

.testimonial .owl-dots {
    display: none
}

.testimonial button:focus {
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline-width: 0
}

.testimonial .item {
    display: none
}

.testimonial .next {
    display: block!important;
    position: relative;
    transform: scale(.8);
    transition-duration: .3s;
    opacity: .6
}

.testimonial .prev {
    display: block!important;
    position: relative;
    transform: scale(.8);
    transition-duration: .3s;
    opacity: .6
}

.testimonial .item.show {
    display: block;
    transition-duration: .4s
}

@media (max-width:992px) {
    button {
        margin: auto
    }
    nav ul li {
        margin: 10px 0 0!important;
        text-align: center
    }
    nav ul li .dropdown-submenu {
        text-align: left!important
    }
    .main_dropdown {
        width: auto
    }
    .prev, .testimonial .next {
        transform: scale(1);
        opacity: 1
    }
    .testimonial .item {
        display: block!important
    }
}

@media (max-width:500px) {
    .my_slider .carousel img {
        height: 300px
    }
}

@media (max-width:300px) {
    .my_slider .carousel img {
        height: 200px
    }
    .foote_bottom_ul_amrc {
        display: block
    }
}